@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,700|Roboto:400,500,700,900&display=swap');
@import './header.css';
@import './home.css';
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Roboto mono';
}
body {
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
